In [37]:
import pandas as pd
import numpy as np

In [38]:
sentimental_df = pd.read_csv('training.1600000.processed.noemoticon.csv',header=None)
sentimental_df.columns = ['target','ids','date','flag','user','text']
sentimental_df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [39]:
sentimental_df['target'].value_counts()

0    800000
4    800000
Name: target, dtype: int64

In [40]:
from datetime import datetime

def return_day_of_week(date):
    day_of_week = date.split(' ')[0]
    return day_of_week

def return_month(date):
    day_of_week = date.split(' ')[1]
    return day_of_week

def return_day(date):
    day_of_week = date.split(' ')[2]
    return day_of_week

def return_time(date):
    day_of_week = date.split(' ')[3]
    return day_of_week

def return_timezone(date):
    day_of_week = date.split(' ')[4]
    return day_of_week

def return_year(date):
    day_of_week = date.split(' ')[5]
    return day_of_week
    
sentimental_df['day_of_week']=sentimental_df['date'].apply(return_day_of_week)
sentimental_df['month']=sentimental_df['date'].apply(return_month)
sentimental_df['day']=sentimental_df['date'].apply(return_day)
sentimental_df['time']=sentimental_df['date'].apply(return_time)
sentimental_df['timezone']=sentimental_df['date'].apply(return_timezone)
sentimental_df['year']=sentimental_df['date'].apply(return_year)

sentimental_df['year'] = sentimental_df['year'].astype(int)
sentimental_df['day'] = sentimental_df['day'].astype(int)

In [42]:

sentimental_df.to_csv('sentimental_df.csv')

,target,ids,date,flag,user,text,day_of_week,month,day,time,timezone,year
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",Mon,Apr,6,22:19:45,PDT,2009
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,Mon,Apr,6,22:19:49,PDT,2009
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,Mon,Apr,6,22:19:53,PDT,2009
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,Mon,Apr,6,22:19:57,PDT,2009
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",Mon,Apr,6,22:19:57,PDT,2009